<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pt-BR">
<body>
<div th:fragment="content">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Admin Dashboard</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Welcome, <span sec:authentication="name">Admin</span>. Este é o dashboard para
                administração do site.</p>
        </div>
    </div>
</div>
</body>
</html>