<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pt-BR">
<body>
<div th:fragment="content">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Dashboard do Usuário</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Bem-vindo, <span sec:authentication="name">User</span>. <br> Aqui você gerencia sua participação em feiras.</p>
        </div>
    </div>
</div>
</body>
</html>