<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<body>
<div th:fragment="content" class="d-flex justify-content-center">
    <div style="width: 100%; max-width: 400px;">
        <h1 class="text-center">Cadastro de Usuário</h1>

        <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}">
            Error text will appear here.
        </div>

        <form th:action="@{/register/user}" th:object="${userRequest}" method="post">
            <div class="mb-3">
                <label for="fullName" class="form-label">Nome Completo:</label>
                <input type="text" id="fullName" class="form-control" th:field="*{fullName}" required/>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" class="form-control" th:field="*{email}" required/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" id="password" class="form-control" th:field="*{password}" required/>
            </div>
            <input type="hidden" th:field="*{roles}" th:value="'SELF'" />
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>