<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<body>

<nav th:fragment="header"
     th:class="'navbar navbar-expand-lg navbar-dark ' + (${loginType == 'ADMIN'} ? 'bg-danger' : (${loginType == 'USER'} ? 'bg-primary' : 'bg-dark'))">

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"
           th:text="${loginType == 'ADMIN' ? 'Gestão de Feiras (Admin)' : 'Gestão de Feiras (User)'}">Gestão de Feiras</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:if="${loginType == 'ADMIN'}">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard do Administrador</a>
                </li>
                <li class="nav-item" th:if="${loginType == 'ADMIN'}">
                    <a class="nav-link" th:href="@{/admin/fairs}">Gerir Feiras</a>
                </li>
                <li class="nav-item" th:if="${loginType == 'USER'}">
                    <a class="nav-link" th:href="@{/user/dashboard}">Dashboard do Usuário</a>
                </li>
                <li class="nav-item" th:if="${loginType == 'USER'}">
                    <a class="nav-link" th:href="@{/visit/fairs}">Visitar</a>
                </li>
                <li class="nav-item" th:if="${loginType == 'USER'}">
                    <a class="nav-link" th:href="@{/exhibit/fairs}">Expor</a>
                </li>
            </ul>

            <div th:replace="~{fragments/auth-buttons :: auth-links}"></div>

        </div>
    </div>
</nav>
</body>
</html>
