<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<body>
<div th:fragment="content" class="text-center">
    <h1 class="display-1 fw-bold" th:text="${statusCode}">Error Code</h1>
    <p class="fs-3">
        <span class="text-danger">Oops!</span>
        <span th:text="${errorMessage}">Algo deu errado.</span>
    </p>
    <p class="lead">
        Por favor, verifique a URL ou volte para a página inicial.
    </p>

    <a th:if="${!isForbiddenError}" th:href="@{/}" class="btn btn-primary">Ir para a Página Inicial</a>

    <form th:if="${isForbiddenError}" th:action="@{/logout}" method="post" class="d-inline">
        <button type="submit" class="btn btn-warning">Logout e ir para Página Inicial</button>
    </form>

</div>
</body>
</html>